.thumbnail img {
	width: 100%;
}

.thumbnail {
	padding: 0;
}

.delete-form {
	display: inline;
}

#signUp,
#login {
	text-align: center;
}

#registerForm,
#loginForm {
	width: 30%;
	margin: 25px auto;
}
