html {
	box-sizing: border-box;
	height: 100%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	height: 100%;
	display: flex;
	flex-direction: column;
}

#generalContainer {
	margin-top: 12vh;
	flex: 1 0 auto;
}

.thumbnail img {
	width: 100%;
}

.thumbnail {
	padding: 0;
}

.delete-form {
	display: inline;
}

#signUp,
#login {
	text-align: center;
}

#registerForm,
#loginForm {
	width: 30%;
	margin: 25px auto;
}

.footer {
	flex-shrink: 0;
}
